@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
@viewport {
  width: device-width;
  zoom: 1;
}
/*Quiz Page*/
body {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}

#stopWatch {
  width: 280px;
  height: auto;
  text-align: center;
  display: block;
  padding: 5px;
  margin: left;
}

#highScoreBoard {
  position: absolute;
  right: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  background-color: rgb(34, 119, 153);
  color: #f6f6f6;
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  top: 382px;
  font-weight: 300;
  margin: 0px;
}

section {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  background-color: rgb(34, 119, 153);
  color: #f6f6f6;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

#timer,
#fulltime {
  width: auto;
  height: auto;
  padding: 10px;
  font-weight: bold;
  font-family: sans-serif;
  display: block;
  border: 1px solid #eee;
  text-align: center;
  box-shadow: 0 0 5px #ccc;
  background: #fbfbf0;
  color: #279;
  border-bottom: 4px solid darkgrey;
}

#fulltime {
  display: none;
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #279;
  color: #f6f6f6;
}

.question,
.highScoreList {
  padding: 20px;
  font-size: 20px;
  background-color: #279;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.option {
  display: inline-block;
  padding: 10px 0 px 10px 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 10px 0px 10px 10px;
  color: black;
}

.option.hover {
  background: rgb(46, 120, 150);
  color: #f6f6f6;
}

button,
a {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #f6f6f6;
  border: 0px;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #38a;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container,
.results-container,
.main-resultContainer {
  position: relative;
  height: 200px;
  margin-top: 40px;
}
